.skills{
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.job{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
}
.img{
    object-fit: cover;
    height: 3rem;
    width: 5rem;
}
.desc {
    font-weight: 200;
    font: 1.2rem;
    max-width: 52rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.skillbars {
   margin: 1.5rem;
   max-width: 80%;
   width: 100vw;
   text-align: left;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.skillbar, .skillbar1, .skillbar2 {
    display: flex;
    margin: 1rem;
    padding: 1.2rem 1.8rem;
    background: hsl(0, 0%, 98%);
    border-radius: 0.8rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}
.skillbar::after, .skillbar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, hsl(0, 100%, 57%),hsl(243, 100%, 58%), hsl(0, 100%, 57%), hsl(243, 100%, 58%));
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -99;
    padding: 4px;
    border-radius: 10px;
    animation: 5s spin1 linear infinite alternate;
}
.skillbar::before {
    filter: blur(1.5rem);
    opacity: 0.4;
}
.skillbar1 {
    border: 5px solid transparent;
    border-image: conic-gradient(from var(--angle), red, blue, yellow, red) 1;
    animation: border-rotate 5s linear infinite;
    border-radius: 12px;
}
@keyframes border-rotate {
  to { --angle: 360deg; }
}

.skillbar2::after, .skillbar2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, hsl(0, 100%, 57%),hsl(243, 100%, 58%), hsl(60, 100%, 55%), hsl(0, 100%, 57%), hsl(243, 100%, 58%));
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -99;
    padding: 4px;
    border-radius: 10px;
    animation: 5s spin1 linear infinite;
}
.skillbar2::before {
    filter: blur(1.5rem);
    opacity: 0.4;
}

@keyframes spin {
    from {
        --angle: 360deg;
    }

    to {
        --angle: 0deg;
    }
}
@keyframes spin1 {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}


.skilltext {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10%;
}
.skilltext>p{
    font-weight: 400;
    font-size: 0.8rem;
}

h3 {
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 720px) {
    .skillbar, .skillbar1, .skillbar2 {
        background: hsl(0, 0%, 20%);
    }
}