.intro {
    display: flex;
    position: relative;
    width: 100vw;
    max-width: 75rem;
    height: calc(100vh - 5rem);
    margin: 0 auto;
}

.profc {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: -5rem;
    right: 0;
    height: 100vh;
}
.introCont{
    padding: 2rem;
    font-size: 3rem;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.butn {
    width: 7rem;
    padding: 0.8rem 1.8rem;
    border: none;
    border-radius: 20px;
    background-color: hsl(126, 82%, 64%);
    margin: 1rem 0;
    cursor: pointer;
}
.title {
    font-weight: 100;
    font-size: medium;
}
.introText{
    color: hsl(126, 82%, 64%);
}
p{
    font-weight: 200;
    font-size: medium;
}
@media screen and (max-width: 720px){
    .profc {
        width: 95%;
        height: 100vh;
    }
    .introText{
        color: hsl(64, 100%, 67%);
    }
    .butn {
        background-color: hsl(64, 100%, 67%);
        color: hsl(0, 0%, 20%);
    }
    .desci, .title, .introS{
        color: hsl(0, 0%, 100%);
    }
}
